# Ignore virtual environment
jobgenie-env/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore secrets and environment config
.env

# Ignore large model files (weights, checkpoints)
*.safetensors
*.bin
*.h5

# Ignore entire model folder except metadata
models/jd_skill_extractor/**
!models/jd_skill_extractor/README.md

# Hugging Face cache (global, use only if stored inside project)
.cache/

# Ignore docs 
*.docs
*.docx